.app {
  background-color: #EBF5EA;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid;
  border-image: linear-gradient(to right, #2ecc71, #a1dc90);
  border-image-slice: 1;
  max-height: 70px;
  padding: 1%;
}

.header .logo-container .logo {
  max-height: 15%;
}

.header .nav-items>ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.header .nav-items>ul>li {
  padding: 10px;
  margin: 10px;
}

.body {
  padding: 10px;
}

.body .filter {
  margin-top: 1%;
}

.body .search {
  margin-left: 95%;
}

.body .club-container {
  display: flex;
  flex-wrap: wrap;
}

.body .club-container .club-card {
  background-color: #e0e8de;
  margin: 2%;
  transition: background-color 0.3s;
  padding: 2%;
  max-width: 12%;
}

.body .club-container .club-card:hover {
  /* Your styles when the container is hovered */
  background-color: #82be99;
}

.body .club-container .club-card .club-logo {
  max-width: 25%;
  margin-left: 40%;
  margin-top: 10%;
}

.body .club-container .club-card .club-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body .club-container .club-card .club-rank,
.body .club-container .club-card .club-points,
.body .club-container .club-card .club-matches-played,
.body .club-container .club-card .club-matches-won {
  margin-left: 12%;
  font-weight: lighter;
}

.shimmer-container {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.shimmer-header {
  height: 100px;
}

.shimmer-card {
  background-color: #e0e8de;
  margin: 2%;
  transition: background-color 0.3s;
  padding: 2%;
  width: 150px;
  height: 250px;
  /* max-width: 12%; */
}